@model ChatWeb.Models.UserViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="bloc-main">
    <div class="bloc-content">
        @using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.ValidationSummary(true)

            @Html.EditorFor(a => a.Login, new
            {
                htmlAttributes = new { @class = "text-login-input", type = "text", autofocus = "autofocus", placeholder = "name", required = "", oninvalid = "this.setCustomValidity('required field')", oninput = "setCustomValidity('')" }
            })
            @Html.ValidationMessageFor(m => m.Login)

            @Html.EditorFor(a => a.Password, new
            {
                htmlAttributes = new { @class = "text-login-input", type = "password", placeholder = "password", required = "", oninvalid = "this.setCustomValidity('required field')", oninput = "setCustomValidity('')" }
            })
            @Html.ValidationMessageFor(m => m.Password)

            <button type="submit" value="Registration" class="send-login-button">Registration</button>
        }
        @Html.ActionLink("Back", "LogIn", "Account", null, new { @class = "bloc-link" })
    </div>
</div>